<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="post">
        Product Name <input type="text" name="txtName" id="">
        <br>
        Price <input type="text" name="txtPrice" id="">
        <br>
        Picture URL <input type="text" name="txtPic" id="">
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>