
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Xin chao nodeJS + HandlerBar</h1>
    <img src = 'https://i.pinimg.com/originals/82/08/fe/8208fe67a521fd3fd8af5902f7292ccc.jpg'>
</body>
</html>